<div class = "item">
	<div class="itemLabel">Network:</div>
	<div class="itemContent">{{:helper.link(data.network_id, null, { 'settings': 1 }, null)}}
</div>

<div class = "item">
	<div class="itemLabel">External storage</div>
	<table width = '90%'>
	{{if data.disk_tech}}
		<tr><td colspan = 2>{{:helper.link(data.disk_name, null, {'eject_disk' : 1})}}</td></tr>
		<tr><td width = '60%'>Data</td><td>Stored</td></tr>
		{{for data.disk_tech}}
			<tr><td width = '60%'>{{:value.field}}</td><td>{{:value.level}}</td></tr>
		{{/for}}
	{{else}}
		<tr><td colspan = 2>{{:data.disk_name}}</td></tr>
	{{/if}}
	</table>
</div>

<div class = "item">
	<div class="itemLabel">Local data repository</div>
	<table width = '90%'>
	<tr><td width = '60%'>Data</td><td>Stored</td></tr>
	{{for data.tech_levels}}
		<tr><td width = '60%'>{{:value.field}}</td><td>{{:value.level}}</td></tr>
	{{/for}}
	</table>
</div>

<div class = "item">
	<div class="itemLabel">Push to network</div>
	<div class="itemContent">{{:helper.link(data.network_push, null, {'toggle_sync_flag' : 1})}}</div>
	<div class="itemLabel">Pull from network</div>
	<div class="itemContent">{{:helper.link(data.network_pull, null, {'toggle_sync_flag' : 2})}}</div>
	<div class="itemLabel">Push to disk</div>
	<div class="itemContent">{{:helper.link(data.disk_push,    null, {'toggle_sync_flag' : 4})}}</div>
	<div class="itemLabel">Pull from disk</div>
	<div class="itemContent">{{:helper.link(data.disk_pull,    null, {'toggle_sync_flag' : 8})}}</div>
</div>

<div class = "item">
	<div class="itemLabel">Flush local cache (DANGER)</div>
	<div class="itemContent">{{:helper.link('Wipe database', null, {'wipe_database' : 1})}}</div>
</div>