{{if data.error}}
	<h2>An error has occured:</h2>
	Additional information: {{:data.error}}<br>
	<i>Please try again. If the problem persists contact your system administrator for assistance.</i>
	<div class="item">
		{{:helper.link('Refresh', null, { "refresh" : 1 })}}
		{{:helper.link('Options', null, { "options" : 1 })}}
	</div>
{{else}}
	<i>Welcome to the EXONET Mainframe configuration utility. Please consult your system administrator if you have any questions about your device.</i><hr>
	<div class="item">
		{{:helper.link('Options', null, { "options" : 1 })}}
	</div>
	<hr>
	<i>EXONET Firmware v110.04.4h Copyright EXONETWORKS INC</i>
{{/if}}