<!-- --------------------------------------------------------------------------------------------
	Include Shared Helper Functions 
-- --------------------------------------------------------------------------------------------->
{{#def.fab_shared}}
<style>
	.orgBiological{
		color:chartreuse;
	}

	.orgMechanical{
		color:steelblue;
	}
</style>

 <!-- --------------------------------------------------------------------------------------------
	Utilities
 ----------------------------------------------------------------------------------------------->
 <!--List DNA information-->
{{function display_dna(dna) { }}
	<ul>
		<li>UE: <span style='float:right;'>{{:dna.UE}}</span></li>
		<li>Name: <span style='float:right;'>{{:dna.real_name}}</span></li>
		<li>Specie: <span style='float:right;'>{{:dna.species}}</span></li>
		<li>Blood Type: <span style='float:right;'>{{:dna.btype}}<span></li>
	</ul>
{{ } }}

<!-- --------------------------------------------------------------------------------------------
	Organ Options
 ----------------------------------------------------------------------------------------------->
 {{function fab_make_organ_options( build_options ) { }}
	<br/>
	<table class='fabBuildOptnTbl'>
		<tr class='fabBuildOptnTblHdrRow'>
			<th>Organ</th>
			<th>Cost</th>
			<th/>
		</tr>
		{{for build_options}}
			{{fab_make_organ_option_entry( value );}}
		{{/for}}
	</table>
 {{ } }}

 <!-- --------------------------------------------------------------------------------------------
	Organ Option Entry
 ----------------------------------------------------------------------------------------------->
 {{function fab_make_organ_option_entry( entry ) { }}
	<tr>
		<!-- Name -->
		<td>{{ fab_make_option_title(entry.name, entry.illegal); }}</td>
		<!-- Cost -->
		<td>{{ fab_make_cost_list(entry.materials); }}</td>
		<!-- Multiplier -->
		<td>{{ fab_make_multiplier_buttons(entry.unavailable, entry.reference, entry.multiplier); }}</td>
	</tr>
 {{ } }}

 <!-- --------------------------------------------------------------------------------------------
	Organ Filtering
 ----------------------------------------------------------------------------------------------->
{{function fab_organ_config_summary(dna, species, make_biological) {
	let summary = " [";
	let display_species = species;

	if(make_biological) {
		summary += "<span class=orgBiological>Bio</span>, ";
		if(dna != undefined) {
			summary += "DNA: " + dna.real_name + ", ";
			display_species = dna.species;
		} else {
			summary += "<span class=bad>!! No DNA !!</span> ";
			display_species = "";
		};
	} else {
		summary += "<span class=orgMechanical>Mech</span> ";
	};
	
	summary += display_species ? ', ' + display_species : '';
	return summary + "]";
} }}

 {{function fab_organ_filter( dna, species, manufacturer, make_biological, show_config) { }}
	<dt class='collapsableList'>
		{{:helper.link(make_list_toggle(show_config, 'Configuration') + (show_config ? '' : fab_organ_config_summary(dna, species, make_biological) ), null, {'toggle_config' : 1}, null, 'linkSubtle') }}
	</dt>
	{{if show_config}}
		<dd style='margin-left: 1em;'>
			<!-- Print Mode -->
			<div class='fabConfigEntry'>
				<div style='text-align: left; margin-right: 2em; float: left;'>
					Mode:
				</div>
				<div style='text-align: right;'>
					{{if make_biological}}
						{{:helper.link( 'Biological', null, {'set_mechanical' : 1}) }}
					{{else}}
						{{:helper.link( 'Mechanical', null, {'set_organic'    : 1}) }}
					{{/if}}
				</div>
			</div>

			<!-- Mode Specifics -->
			<div class='fabConfigEntry'>
				{{if make_biological}}
					{{if dna}}
						<div class='itemLabel'>
							{{:helper.link('DNA:', 'trash', {'flush_dna' : 1} ) }}
						</div>
						<div class='itemContent' style='margin-left: 2em;'>
							<p style='white-space:normal;'>
								{{display_dna(dna);}}
							</p>
						</div>
					{{else}}
						<div class='itemLabel'>
							DNA:
						</div>
						<div class='itemContent' style='margin-left: 2em;'>
							<p style='font-style: italic; font-size: small;'>No DNA sample loaded.</p>
						</div>
					{{/if}}
				{{else}}
					<div class='itemLabel'>
						Current Species:
					</div> 
					<div class='itemContent'>
						{{:helper.link( species, null, {'pick_species' : 1} ) }}
					</div>
					<div class='itemLabel'>
						Manufacturer:
					</div> 
					<div class='itemContent'>
						{{:helper.link( manufacturer, null, {'pick_manufacturer' : 1} ) }}
					</div>
				{{/if}}
			</div>

		</dd>
	{{/if}}
 {{ } }}

<!-- --------------------------------------------------------------------------------------------
	Base UI
 ----------------------------------------------------------------------------------------------->
<!--Standard fab header-->
{{fab_header( data.network, data.network_id ); }}


{{if data.functional}}
	<!--Collapsable list-->
	<dl class='collapsableList'> 
		{{ fab_resources_table( data.show_resources, data.material_storage ); }}
		{{ fab_construction_queue( data.show_queue, data.build_queue, data.current_build ); }} 
		{{ fab_organ_filter( data.dna, data.species, data.manufacturer, data.make_biological, data.show_config ); }}
	</dl> 

	<!-- Display our custom made design list  -->
	{{ fab_make_organ_options(data.build_options); }}

{{else}}
	<p><span class = 'bad'>FABRICATOR OFFLINE. CONTACT SYSTEM ADMINISTRATOR.</span></p>
{{/if}}
