<div style="min-width: 680px">
    <h2>SYSTEM STATUS</h2>
    <div class="item">
        <div class="itemLabel">
            Superluminal shunt is:
        </div>
        <div class="itemContent">
            {{if data.ftlstatus == 2}}
                Offline
            {{else data.ftlstatus == 1}}
                Cooling Down
            {{else data.ftlstatus == 3}}
                Online
            {{/if}}
        </div>
	</div>
	
    <h2>CAPACITOR STATUS</h2>
		
	<div class="item">
		<div class="itemLabel">
				Charge Precentage:
		</div>
		
		<div class="itemContent">
			{{:helper.displayBar(data.chargepercent, 0, 100)}}
		</div>
	</div>
	
	<div class="item">
		<div class="itemLabel">
			Maximum Capacitor Charge:
		</div>
		
		<div class="itemContent">
			{{:data.max_charge}} MJ
		</div>
	</div>
	
	<div class="item">
		<div class="itemLabel">
			Target Charge Level:
		</div>
		
		<div class="itemContent">
			{{:data.target_charge}} MJ
		</div>
	</div>
		
	<div class="item">
		<div class="itemLabel">
			Estimated Charge Time:
		</div>
		
		<div class="itemContent">
			{{:data.chargetime}}
		</div>
	</div>
		
	<div class="item">
		<div class="itemLabel">
			Maximum Power Input:
		</div>
		<div class="itemContent">
			{{:data.max_power}} Kw
		</div>
	</div>
	
	<div class="item">
        <div class="itemLabel">
            Current Power Input:
        </div>
        <div class="itemContent">
            {{:helper.link(data.power_input, null, { 'adjust_power' : 1})}}  Kw
        </div>
    </div>
	
	<div class="item">
        <div class="itemLabel">
            Charging Status:
        </div>
		
	    <div class="itemContent">
            {{if data.charging == 1}}
                Charging
            {{else data.charging == 0}}
                Not Charging
            {{/if}}
        </div>
    </div>
	
    <div class="item">
		{{:helper.link("Toggle Capacitor Charging", null, { 'toggle_charge' : 1})}}
    </div>
	
	<h2>FUEL SYSTEM STATUS</h2>
	
    <div class="item">
        <div class="itemLabel">
            Remaining Fuel:
        </div>
        <div class="itemContent">
            {{:data.fuel_joules}} MJ/cm
        </div>
    </div>
	
	<h2>JUMP SOLUTION ESTIMATES</h2>
	
	<div class="item">
        <div class="itemLabel">
            Jump Solution Status:
        </div>
        <div class="itemContent">
            {{if data.jump_unsafe == 1}}
				<span class="bad"> !! JUMP SOLUTION UNSAFE !! </span>
			{{else}}
				<span class="good"> Jump solution OK. </span>
			{{/if}}
        </div>
    </div>

    <div class="item">
        <div class="itemLabel">
            Estimated Fuel Cost:
        </div>
        <div class="itemContent">
            {{:data.jumpcost}} MJ/cm
        </div>
    </div>
	
    <div class="item">
        <div class="itemLabel">
            Estimated Power Requirement:
        </div>
        <div class="itemContent">
            {{:data.powercost}} MJ
        </div>
    </div>

    <div class="item">
        <div class="itemLabel">
            Shunt X Coordinates:
        </div>
        <div class="itemContent">
            {{:helper.link(data.shunt_x, null, { 'set_shunt_x' : 1})}}
        </div>
    </div>

    <div class="item">
        <div class="itemLabel">
            Shunt Y Coordinates:
        </div>
        <div class="itemContent">
            {{:helper.link(data.shunt_y, null, { 'set_shunt_y' : 1})}}
        </div>
    </div>
	
	<h2>JUMP CONTROLS</h2>
        
    <div class="item">    
        <div class="itemContent">
            {{:helper.link("Engage Shunt Drive", 'alert', { 'start_shunt' : 1 })}}
        </div>
    </div>
    <div class="item">
        <div class="itemContent">
            {{:helper.link("Disengage Shunt Drive", 'alert', { 'cancel_shunt' : 1 })}}
        </div>
    </div>
</div>