<div style="min-width: 680px">
    <h2>SYSTEM STATUS</h2>
    <div class="item">
        <div class="itemLabel">
            Superluminal shunt is:
        </div>
        <div class="itemContent">
            {{if data.ftlstatus == 2}}
                Offline
            {{else data.ftlstatus == 1}}
                Cooling Down
            {{else data.ftlstatus == 3}}
                Online
			{{else data.ftlstatus == 4}}
                <span style="color:blue">Spinning Up</span>
            {{/if}}
        </div>
	</div>
	
    <h2>CAPACITOR STATUS</h2>
		
	<div class="item">
		<div class="itemLabel">
				Charge Precentage:
		</div>
		
		<div class="itemContent">
			{{:helper.displayBar(data.chargepercent, 0, 100)}}
		</div>
	</div>
	
	<div class="item">
		<div class="itemLabel">
			Maximum Capacitor Charge:
		</div>
		
		<div class="itemContent">
			{{:data.max_charge}} MJ
		</div>
	</div>
	
	<div class="item">
		<div class="itemLabel">
			Target Charge Level:
		</div>
		
		<div class="itemContent">
			{{:helper.link(data.target_charge, null, { 'adjust_target' : 1})}}  MJ
		</div>
	</div>
		
	<div class="item">
		<div class="itemLabel">
			Estimated Charge Time:
		</div>
		
		<div class="itemContent">
			{{:data.chargetime}}
		</div>
	</div>
		
	<div class="item">
		<div class="itemLabel">
			Maximum Power Input:
		</div>
		<div class="itemContent">
			{{:data.max_power}} Kw
		</div>
	</div>
	
	<div class="item">
        <div class="itemLabel">
            Current Power Input:
        </div>
        <div class="itemContent">
            {{:helper.link(data.power_input, null, { 'adjust_power' : 1})}}  Kw
        </div>
    </div>
	
	<div class="item">
        <div class="itemLabel">
            Charging Status:
        </div>
		
	    <div class="itemContent">
            {{if data.charging == 1}}
                Charging
            {{else data.charging == 0}}
                Not Charging
            {{/if}}
        </div>
    </div>
	
    <div class="item">
		{{:helper.link("Toggle Capacitor Charging", null, { 'toggle_charge' : 1})}}
    </div>
	
	<h2>FUEL SYSTEM STATUS</h2>
	
    <div class="item">
        <div class="itemLabel">
            Remaining Fuel:
        </div>
        <div class="itemContent">
            {{:data.fuel_joules}} MJ
        </div>
    </div>
	
    <div class="item">
        <div class="itemLabel">
            Average Conversion Rate:
        </div>
        <div class="itemContent">
            {{:data.fuel_conversion}} MJ/cm3
        </div>
    </div>
	
	<h2>JUMP SOLUTION ESTIMATES</h2>
	
	<div class="item">
        <div class="itemLabel">
            Jump Solution Status:
        </div>
        <div class="itemContent">
            {{if data.jump_status == 4}}
				<span class="bad"> !! NO SOLUTION PLOTTED !! </span>
            {{else data.jump_status == 3}}
				<span class="bad"> !! JUMP SOLUTION UNSAFE !! </span>
			{{else data.jump_status == 2}}
				<span class="good"> Plotting Jump Solution... </span>
			{{else data.jump_status == 1}}
				<span class="good"> Jump Solution OK. </span>
			{{/if}}
        </div>
    </div>

    <div class="item">
        <div class="itemLabel">
            Estimated Fuel Cost:
        </div>
        <div class="itemContent">
            {{:data.jumpcost}} MJ/cm
        </div>
    </div>
	
    <div class="item">
        <div class="itemLabel">
            Estimated Power Requirement:
        </div>
        <div class="itemContent">
            {{:data.powercost}} MJ
        </div>
    </div>

    <div class="item">
        <div class="itemLabel">
            Unplotted Shunt X Coordinates:
        </div>
        <div class="itemContent">
            {{:helper.link(data.to_plot_x, null, { 'set_shunt_x' : 1})}}
        </div>
    </div>

    <div class="item">
        <div class="itemLabel">
            Unplotted Shunt Y Coordinates:
        </div>
        <div class="itemContent">
            {{:helper.link(data.to_plot_y, null, { 'set_shunt_y' : 1})}}
        </div>
    </div>
	
    <div class="item">
        <div class="itemLabel">
            Plotted Shunt X/Y Coordinates:
        </div>
        <div class="itemContent">
            X {{:data.shunt_x}}
        </div>
        <div class="itemContent">
            Y {{:data.shunt_y}}
        </div>
    </div>
	
	<h2>JUMP CONTROLS</h2>

	<div class="item"> 
		<div class="itemContent">
			{{:helper.link("Cancel Jump Plotting", null, { 'cancel_plot' : 1})}}
		</div>
	</div>
	
	<div class="item"> 
		<div class="itemContent">
			{{:helper.link("Engage Jump Plotting", null, { 'plot_jump' : 1})}}
		</div>
	</div>
        
    <div class="item">    
        <div class="itemContent">
            {{:helper.link("Engage Shunt Drive", null, { 'start_shunt' : 1 })}}
        </div>
    </div>
	
    <div class="item">
        <div class="itemContent">
            {{:helper.link("Disengage Shunt Drive", null, { 'cancel_shunt' : 1 })}}
        </div>
    </div>
</div>