{{if data.error}}
	<h2>An error has occured:</h2>
	Additional information: {{:data.error}}<br>
	<i>Please try again. If the problem persists contact your system administrator for assistance.</i>
	{{:helper.link('Refresh', null, { "refresh" : 1 })}}
{{else}}
	<h2>Editing Access Requirements:</h2>
	<div class='item'>
		<div class='itemBody'>{{:helper.link("NETWORK SETTINGS", null, { "settings" : 1 })}}</div>
	</div>
	{{if !data.connected}}
		<hr>
		<h2>Disconnected from network.</h2>
	{{else}}
		<div class='item'>
			<div class='itemLabel'>Device Default State:</div>
			<div class='itemBody'>
				{{:helper.link('ALLOW ALL', null, { "allow_all" : 1 }, !data.default_state ? 'disabled' : null)}}
				{{:helper.link('DENY ALL', null, { "deny_all" : 1 }, data.default_state ? 'disabled' : null)}}
			</div>
		</div>
		<hr>
		<table>
			<tr><th>Pattern
			<th>Groups
			<th>Operations
			{{for data.patterns}}
				<tr><td>{{:helper.link("Pattern " + value.index, null, { "select_pattern" : value.index}, (data.selected_pattern == value.index) ? 'selected' : null)}}
				<td>{{:value.groups}}
				<td>{{:helper.link('Delete pattern', null, { "remove_pattern" : value.index})}}
			{{/for}}
		</table>
		<br>
		{{:helper.link('Add pattern', null, { "add_pattern" : 1}, null)}}
		{{:helper.link('?', null, { "info" : "pattern" }, null)}}
		<hr>
		{{if data.parent_groups}}
			<h2>Parent Groups:</h2>
			{{:helper.link('?', null, { "info" : "parent_groups" }, null)}}
			<table>
				<tr><th>Group
				<th>Operations
				{{for data.parent_groups}}
					<tr><td>{{:helper.link(value.parent_group, null, { "select_parent_group" : value.parent_group })}}
					<td>
						{{if value.assigned}}
							{{:helper.link('REMOVE', null, { "remove_group" : value.parent_group })}}
						{{else}}
							{{:helper.link('ASSIGN', null, { "assign_group" : value.parent_group })}}
						{{/if}}
				{{/for}}
			</table>
		{{else data.selected_parent_group}}
			<h2>Viewing Child Groups for: {{:data.selected_parent_group}}</h2>
			{{if data.child_groups}}
				<h2>Child Groups:</h2>
				<table>
					<tr><th>Group
					<th>Operations
					{{for data.child_groups}}
						<tr><td>{{:value.child_group}}
						<td>
							{{if value.assigned}}
								{{:helper.link('REMOVE', null, { "remove_group" : value.child_group })}}
							{{else}}
								{{:helper.link('ASSIGN', null, { "assign_group" : value.child_group })}}
							{{/if}}
					{{/for}}
				</table>
			{{else}}
				<i> No child groups found! </i>
			{{/if}}
			<div class='item'>
				{{:helper.link('Back to parent group listing', null, { "select_parent_group" : null })}}
			</div>
		{{else}}
			{{if data.selected_pattern}}
				<i>No groups found on network!</i>
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}