<div class="item">
	{{:helper.link("NETWORK SETTINGS", null, { "settings" : 1 })}}
</div>
<hr>
<div class="item">
	<div class="itemLabel">Login:</div>
	<div class='itemBody'>
		{{:helper.link(data.login, null, { "change_login" : 1 })}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">Password:</div>
	<div class='itemBody'>
		{{:helper.link(data.password, null, { "change_password" : 1 })}}
	</div>
</div>
<div class="item">
		{{:helper.link('Login', null, { "login_account" : 1 })}}
</div>