<!--
Title: Basic Radio UI
Used In File(s): /code/game/objects/item/devices/radio/radio.dm
-->
<head>
	<style type="text/css">
		.radio					{color: #008000;}
		.deptradio				{color: #993399;}
		.comradio				{color: #395A9A;}
		.syndradio				{color: #6D3F40;}
		.centradio				{color: #5C5C8A;}
		.airadio				{color: #FF00FF;}
		.secradio				{color: #A30000;}
		.engradio				{color: #A66300;}
		.medradio				{color: #008160;}
		.sciradio				{color: #993399;}
		.supradio				{color: #7F6539;}
		.srvradio				{color: #6eaa2c;}
	</style>
</head>



{{if data.useSyndMode}}
	{{:helper.syndicateMode()}}
{{/if}}

{{if data.network}}
<div class="item">
	<div class="itemLabelWide">
		Network Connectivity
	</div>
	<div class="itemContentMedium">
		{{:helper.link(data.network, null, { 'network_settings': 1 }, null)}}
		{{:helper.link("Sync with hub", null, { 'sync': 1 }, null)}}
	</div>
</div>
{{/if}}

{{if data.can_use_analog}}
{{if data.network}}
<div class="item">
	<div class="itemLabelWide">
		Analog Transmission
	</div>
	<div class="itemContentMedium">
		{{:helper.link('On',  null, {'analog' : 1}, data.analog ? 'selected' : null)}}
		{{:helper.link('Off', null, {'analog' : 0}, data.analog ? null : 'selected')}}
	</div>
</div>
{{/if}}
{{if data.analog && (data.available_keys || data.analog_secured)}}
<div class="item">
	<div class="itemLabelWide">
		Analog Encryption
	</div>
	<div class="itemContentMedium">
		{{for data.available_keys}}
			{{:helper.link(value, null, {'analog_secured': value}, null, (data.analog_secured[value]) ? 'linkOn' : null)}}
		{{/for}}
		{{:helper.link('Clear', null, {'clear_analog_secured' : 1}, null)}}
	</div>
</div>
{{/if}}
{{/if}}

<div class="item">
	<div class="itemLabelWide">
		Microphone
	</div>
	<div class="itemContentMedium">
		{{if data.mic_cut}}
			{{:helper.link('On', null, null, 'disabled')}}
			{{:helper.link('Off', null, null, 'disabled')}}
		{{else}}
			{{:helper.link('On', null, {'talk' : 0}, data.mic_status ? 'selected' : null)}}
			{{:helper.link('Off', null, {'talk' : 1}, data.mic_status ? null : 'selected')}}
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabelWide">
		Speaker
	</div>
	<div class="itemContentMedium">
		{{if data.spk_cut}}
			{{:helper.link('On', null, null, 'disabled')}}
			{{:helper.link('Off', null, null, 'disabled')}}
		{{else}}
			{{:helper.link('On', null, {'reception' : 0}, data.speaker ? 'selected' : null)}}
			{{:helper.link('Off', null, {'reception' : 1}, data.speaker ? null : 'selected')}}
		{{/if}}
	</div>
</div>

{{if data.has_loudspeaker}}
	<div class="item">
		<div class="itemLabelWide">
			Loudspeaker:
		</div>
		<div class="itemContentMedium">
			{{:helper.link('On', null, {'shutup' : 0}, data.loudspeaker ? 'selected' : null)}}
			{{:helper.link('Off', null, {'shutup' : 1}, data.loudspeaker ? null : 'selected')}}
		</div>
	</div>
{{/if}}


{{if data.charge}}
	<div class="item">
		<div class="itemLabelWide">
			Battery charge:
		</div>
		<div class="itemContentMedium">
			{{:data.charge}}
		</div>
	</div>
{{/if}}

<div class="item">
	<div class="itemLabelWide">
		Frequency: {{:data.freq}}
	</div>
	<div class="itemContentMedium">
		{{:helper.link('--', null, {'freq' : -10})}}
		{{:helper.link('-', null, {'freq' : -1})}}
		{{:helper.link('+', null, {'freq' : 1})}}
		{{:helper.link('++', null, {'freq' : 10})}}
	</div>
</div>

{{if data.show_channels}}
	<h3>Channels</h3>
	<div class="item">
	{{for data.channel_list}}
		<div class="itemLabelWide">
			<span class='{{:value.chan_span}}'>&#9724</span>{{:value.display_name}}
		</div>
		<div class="itemContentMedium">
			{{if value.secure_channel}}
				{{:helper.link('On', null, {'ch_name' : value.chan,  'listen' : 1}, value.listening ? 'selected' : null)}}
				{{:helper.link('Off', null, {'ch_name' : value.chan, 'listen' : 0}, value.listening ? null : 'selected')}}
			{{else}}
				{{:helper.link('Switch', null, {'spec_freq' : value.chan}, data.rawfreq == value.chan ? 'selected' : null)}}
			{{/if}}
		</div>
	{{/for}}
{{/if}}
