<!--Common header for displaying the printer's status.-->
<h3><div class="uiIcon16 icon-print"></div><b>Printer Status</b></h3>
<TABLE style="width:100%;">
	<TR style="padding-left:2em;">
		<TD>Toner</TD>
		<TD>{{:helper.displayBar(data.toner, 0, data.toner_max, (data.toner >= (data.toner_max/2)) ? null : ((data.toner >= (data.toner_max/3)) ? 'average' : 'bad'))}} {{:data.toner <= 0? '<span class="bad">' : ""}}{{:data.toner? helper.round((data.toner * 100)/data.toner_max) : 0}}%{{:data.toner <= 0? '</span>' : ""}}</TD>
	</TR>
	<TR>
		<TD>Paper Feeder</TD>
		<TD>
			{{if data.paper_feeder <= 0}}
				<span class="bad">
			{{else}}
				<span>
			{{/if}}
				{{:data.paper_feeder}} / {{:data.paper_feeder_max}} sheet(s)
			</span>
		</TD>
	</TR>
	{{if data.show_print_ctrl}}
		<TR>
			<TD>Queue</TD>
			<TD>
				{{if data.print_queue_amt > 0 && !data.is_printing}}
					{{:helper.link("Resume Printing", null, {"resume_print":1} ) }}
				{{else data.is_printing}}
					{{:helper.link("Stop Printing", null, {"stop_print":1} ) }}
				{{else}}
					<span class="idle">Nothing queued for printing.</span>
				{{/if}}
			</TD>
		</TR>
	{{/if}}
</TABLE>
