name: Make changelogs

on:
  push:
    branches: 
    - dev

jobs:
  MakeCL:
    runs-on: ubuntu-latest
    if: github.repository == 'NebulaSS13/Nebula'
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 25
      - name: Python setup
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Install depends
        run: |
          python -m pip install --upgrade pip
          pip install ruamel.yaml PyGithub
      - name: Make CL
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          GIT_EMAIL: "NebulaSS13Bot@gmail.com"
          GIT_NAME: "NebulaSS13Bot" 
        run: python tools/changelog/generate_cl.py
